{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>List of Written Documents</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Document</th>
                <th>Published</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.document }}</td>
                <td>{% if entity.published %}{{ entity.published|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('writtendocument_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('writtendocument_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('writtendocument_new') }}">
                Create a new Written Document
            </a>
        </li>
    </ul>
    {% endblock %}
