{% extends 'TOEICTrainerBundle::base.html.twig' %}
{% block body -%}
    <h1>View a Written Document</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Document</th>
                <td>{{ entity.document }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ entity.published|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('writtendocument') }}">
            Back to the list of Written Documents
        </a>
    </li>
    <li>
        <a href="{{ path('writtendocument_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
