{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>View a Document With Questions</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Document</th>
                <td>{{ entity.document }}</td>
            </tr>
            <tr>
                {% for pair in entity.aqpairs %}
                    <th>{{ pair.question.audioTranscript }}</th>
                    <td>{{ pair.correctAnswer.audioTranscript }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('docquestions') }}">
            Back to the list of Documents With Questions
        </a>
    </li>
    <li>
        <a href="{{ path('docquestions_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
