{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>Picture</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ asset('%path%')|replace({'%path%': entity.getWebPath()}) }}"></img></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('picturefile') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('picturefile_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
