{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>AudioFile list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Audiotranscript</th>
                <th>Type</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('audiofile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.audioTranscript }}</td>
                <td>{{ entity.type }}</td>
                <td><audio controls src="{{ asset('%path%')|replace({'%path%': entity.getWebPath()}) }}"></audio></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('audiofile_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('audiofile_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br>
        <ol>
        <li>
            <a href="{{ path('audiofile_newSound') }}">
                Create a new sound
            </a>
        </li>
        <li>
            <a href="{{ path('audiofile_new') }}">
                Create a new entry
            </a>
        </li>
    </ol>
    {% endblock %}
