{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>View an Audio Entry</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Audiotranscript</th>
                <td>{{ entity.audioTranscript }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>
                    {% if entity.type == "Photography" %}
                        <span class="label label-success">{{ entity.type }}</span>
                    {% elseif entity.type == "Answer" %}
                        <span class="label label-primary">{{ entity.type }}</span>
                    {% elseif entity.type == "Conversation" %}
                        <span class="label label-warning">{{ entity.type }}</span>
                    {% elseif entity.type == "Talk" %}
                        <span class="label label-danger">{{ entity.type }}</span>
                    {% elseif entity.type == "Question" %}
                        <span class="label label-info">{{ entity.type }}</span>
                    {% else %}
                        <span class="label label-default">{{ entity.type }}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>File</th>
                <td><audio controls src="{{ asset('%path%')|replace({'%path%': entity.getWebPath()}) }}"></audio></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('audiofile') }}">
            See the list of Audio Entries we have
        </a>
    </li>
    <li>
        <a href="{{ path('audiofile_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
