{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>List of Document With Holes</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Document</th>
                <th>Holes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.document }}
                </td>
                <td>
                    <p>
                        {% for hole in entity.wordDocHoles %}
                            {{ hole }},
                        {% endfor %}
                    </p>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('docholes_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('docholes_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docholes_new') }}">
                Create a new Document With Holes
            </a>
        </li>
    </ul>
    {% endblock %}
