{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>Document With Hole</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Document</th>
                <td>{{ entity.document }}</td>
            </tr>
            <tr>
                <th>Worddocholes</th>
                <td>
                    {% for hole in entity.wordDocHoles %}
                        {{ hole }},
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('docholes') }}">
            Back to the list of Documents With Holes
        </a>
    </li>
    <li>
        <a href="{{ path('docholes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
