{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>List of Photographs With Listenings</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Correct Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img src="{{ asset('%path%')|replace({'%path%': entity.picture.getWebPath()}) }}"></img></td>
                <td><audio controls src="{{ asset('%path%')|replace({'%path%': entity.correctDescription.getWebPath()}) }}"></audio></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('listeningphotographs_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('listeningphotographs_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ol>
        <li>
            <a href="{{ path('picturefile_new') }}">
                Create a new Photograph
            </a>
        </li>
        <li>
            <a href="{{ path('listeningphotographs_new') }}">
                Create a new Photographs With Listenings
            </a>
        </li>
    </ol>
    {% endblock %}
