{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>Photograph With Listenings</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Picture</th>
                <td><img src="{{ asset('%path%')|replace({'%path%': entity.picture.getWebPath()}) }}"></img></td>
            </tr>
            <tr>
                <th>Correct Description</th>
                <td><audio controls src="{{ asset('%path%')|replace({'%path%': entity.correctDescription.getWebPath()}) }}"></audio></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('listeningphotographs') }}">
            Back to the list of Photographs With Listenings
        </a>
    </li>
    <li>
        <a href="{{ path('listeningphotographs_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
