
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				{#<span class="sr-only">Toggle navigation</span>#}
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('toeic_trainer_homepage') }}"></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ path('toeic_trainer_homepage') }}"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-music"></span>  Listening exercises 
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">						
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.listening') }}">
								Open complete description
							</a>
						</li>		
						<li class="divider"></li>						
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.listening.photographs') }}"><span class="glyphicon glyphicon-music"></span>  Photographs</a>
						</li>				
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.listening.qa') }}"><span class="glyphicon glyphicon-music"></span>  Questions/Answers</a>
						</li>				
						{#<li>
							<a href="{{ path('tn.toeic.exercices.main_page.listening.conversations') }}"><span class="glyphicon glyphicon-music"></span>  Conversations</a>
						</li>				
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.listening.talks') }}"><span class="glyphicon glyphicon-music"></span>  Talks</a>
						</li>#}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-edit"></span>  Reading exercises
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.reading') }}">
								Open complete description
							</a>
						</li>		
						<li class="divider"></li>		
						{#<li>
							<a href="{{ path('tn.toeic.exercices.main_page.reading.inc_sentences') }}"><span class="glyphicon glyphicon-edit"></span>  
								Fill incomplete sentences
							</a>
						</li>#}				
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.reading.inc_documents') }}"><span class="glyphicon glyphicon-edit"></span>  
								Fill incomplete documents</a>
						</li>				
						<li>
							<a href="{{ path('tn.toeic.exercices.main_page.reading.qa_documents') }}"><span class="glyphicon glyphicon-edit"></span>  
								Answer questions related to documents
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-heart"></span>  Participate! <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="javascript:void(0)"><span class="glyphicon glyphicon-edit"></span>
								Create a reading exercise!
							</a>
						</li>
						<li><a href="{{ path('writtendocument_new') }}">Add a new written document</a></li>
						<li><a href="{{path('docholes_new') }}">Specify some hidden words for a document</a></li>
						<li><a href="{{ path('docquestions_new') }}">Add questions to a document</a></li>
						<li class="divider"></li>
						<li>
							<a href="{{path('listeningphotographs_new') }}"><span class="glyphicon glyphicon-music"></span>
								Create a photograph exercise!
							</a>
						</li>
						<li>
							<a href="{{path('answerquestion_new') }}"><span class="glyphicon glyphicon-music"></span>
								Create a question/answer exercise!
							</a>
						</li>
						<li><a href="{{ path('picturefile_new') }}">Add pictures</a></li>
						<li><a href="{{ path('audiofile_new') }}">Add sounds</a></li>
						<li><a href="{{ path('audiofile_newSound') }}">Create a new recording for an exercise</a></li>
						{#<li><a href="#">Add questions for a recording</a></li>
						<li><a href="#">Set up a conversation with a recording</a></li>
						<li><a href="#">Set up a talk with a recording</a></li>#}
					</ul>
				</li>
			</ul>
			{# <ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>   Sign in</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>  Sign up</a></li>
			</ul> #}
		</div>
	</div>
</div>
